/*mobie view*/
/*every page*/
header {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
font-family: 'Henny Penny', cursive;
text-align: center;
font-size: 3rem;
color: #8F2B14;
margin:5% 10% 2% 10%;
}

.nav_links{
    align-content: flex-end;
    justify-content: center;
    margin-top: 0.5em;
}
.nav_links a{
    text-decoration: underline dotted;
    color: #8F2B14;
    font-size: .5em;
}
.nav_item {
    padding: .5em;
}

#current { 
   color: #050505; 
   border: #8F2B14 dotted;
   font-size: 1em;

}
/*jump to content button*/
a.jump{
    background: white;
    left: 0;
    padding: 1.6%;
    position: absolute;
    top: -20%;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;

}
a.jump:focus{
    top:2%;
    margin-left: 2%;
    color: black;
    text-decoration-style: solid;

}
/*styling headers and body*/
h1{
    font-family: 'Henny Penny', cursive;
    font-size: 2em;
    margin: 1em .5em .5em .5em;
    padding: .5em;
    color: #8F2B14;
    text-align: center;
    animation: slideMe 1s ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    
}
h2{
    text-align: center;
    font-size: 2rem;
    color:#8F2B14;
    
}
h3{
    text-align: center;
    font-size: 2rem;
}
h4{
    text-align: center;
    font-size: 1rem;
}

body {
    background-color: #F7F7B0;
}

.home p {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 400px;
    font-size: 1.5rem;
}
/*flip-card styling*/
.flip_image {
    height: 300px;
    margin: auto;
    width: 70%;
}
/*flipcard functionality*/
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 70%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 70%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  .flip-card-front > img, .flip-card-back >img {
    width: 100%;
    margin: 4% 4% 4% 4%;
    border: 10px solid #8F2B14;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner, 
  .flip-card:active .flip-card-inner,
  .flip-card:focus-within .flip-card-inner,
  .flip-card:focus .flip-card-inner,
  .flip-card-back{
    transform: rotateY(180deg);
  }
  /*end flipcard*/
/*paragraph styling for italian, desserts, asian, american */
.italian p, .desserts p, .asian p, .desserts p, .american p {
    margin-left: 1rem;
    border: 10px double #8F2B14;
    padding: .75rem;  
}

.recipes {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: auto;
}

/*style images to take up full grid container */
.penne-vodka_img >img, .bow-tie_img > img, .b_img > img, 
.mm_pretzel_img > img, .apple-pie_img >img, .cheesecake_img > img,
.panang_img > img, .fried-rice_img > img, .sushi_img > img, .crab-rangoon-img >img,
.spinach_img >img, .cheese_img >img, .wings_img >img{
    width: 100%;
    margin: 4% 4% 4% 4%;
    border: 10px solid #8F2B14;
}

/*style list elements in each food items class to be centered */
/*desserts*/
.mm-pretzel-bites > ul, .apple-pie > ul, .cheesecake >ul,
.panang-curry > ul, .friedrice >ul, .sushi >ul,
.bow-tie_text > ul, .penne-vodka_text >ul, .b_text >ul,
.ingredients >ul{
    text-align: center;
    list-style-type: none;
}
/*style the text and imgs of each food item to be in grid col 1*/
/*italian*/
.bow-tie_text, .bow-tie_img, 
.b_test, .b_img,
.penne-vodka_img, .penne-vodka_text,
.panang-curry, .panang_img, .sushi, .sushi_img, .crab-rangoon-img, .fried-rice_img, .friedrice,
.wings, .wings_img, .spinach, .spinach_img, .cheese, .cheese_img,
.apple-pie, .apple-pie_img, .cheesecake, .cheesecake_img, .mm-pretzel-bites, .mm_pretzel_img
 {
    grid-column: 1/2;
}

.ingredients {
    margin-top: 2%;
    margin-bottom: 2%;
}

.collage {
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin: 10% 10% 10% 10%;
    grid-row-gap: 3.75em;
    grid-column-gap: 3.75em;
    /* align-items: baseline; */
}
.collage img {
    border: chocolate 10px solid;
    width: 80%;
    height: auto;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.collage img:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
    border: #8F2B14 solid 15px;
} 

footer {
    position: relative;
    bottom: 0;
    width:100%;
    background:#8F2B14;
    text-align:center;
    justify-content: center;
    align-content: center;
    color: #F7F7B0;
    min-height: 75px;
    width: 100%;
    margin: auto;
}

form {
    margin: 2% 2% 2% 2%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #8F2B14;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #8F2B14;
}

@media screen and (min-width:900px) {

        .nav_links{
            display:flex;
            flex-direction: row;
        }

        /*paragraph styling for home, italian, desserts, asian, american */
        .home p {
            margin-top: 500px;
        }
        .flip_image, .flip-card-inner, .flip-card-front, .flip-card-back {
            margin-bottom: 200px;
        }
        
        .italian p, .desserts p, .asian p, .desserts p, .american p {
            margin-left: 2%;
            background-color: #F7F7B0;
            
        }
        
        .recipes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr; 
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-column-gap: 4%;
            width: 100%;
            margin: auto;
            background-image: url("../imgs/bgbody.jpeg");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        /*style the text and imgs of each food item to be in grid col 1*/
        /*italian*/
        .bow-tie_text{
            grid-column: 2/3;
            background-color: #F7F7B0;
            height: fit-content;
        } 
        .bow-tie_img{
            grid-column: 1/2;
            grid-row: 1;
        }
        .b_text{
            grid-column: 2/3;
            background-color: #F7F7B0;
        } 
        .b_img{
            grid-column: 1/2;
            grid-row: 3;
        }
        
        .penne-vodka_text{
            grid-column: 2/3;
            background-color: #F7F7B0;   
        }
        .penne-vodka_img {
            grid-column: 1/2;
            grid-row: 2;

        }
        /*asian*/
        .crab-rangoon {
            grid-column: 2/3;
            background-color: #F7F7B0;

        }
        .crab-rangoon-img{
            grid-column: 1/2;
            grid-row: 1;
        }
        .panang-curry{
            grid-column: 2/3;
            background-color: #F7F7B0;
        }
         .panang_img { 
            grid-column: 1/2;
            grid-row: 2;
         } 

         .friedrice{
            grid-column: 2/3;
            background-color: #F7F7B0;
            
        }
        .fried-rice_img {
            grid-column: 1/2;
            grid-row: 3;

        } 
         .sushi {
            grid-column: 2/3;
            background-color: #F7F7B0;

         } 
         .sushi_img {
            grid-column: 1/2;
            grid-row: 4;

         }
            /*american*/
        .wings {
            grid-column: 2/3;
            background-color: #F7F7B0;
            margin-top: 4%;
        } 
        .wings_img {
            grid-column: 1/2;
            grid-row: 1;
        } 
        .spinach {
            grid-column: 2/3;
            background-color: #F7F7B0;
        }
        .spinach_img{
            grid-column: 1/2;
            grid-row: 2;
        } 
        .cheese{
            grid-column: 2/3;
            background-color: #F7F7B0;
        }
        .cheese_img{
            grid-column: 1/2;
            grid-row: 3;
        }  
        /*desserts*/
        .mm-pretzel-bites{
            grid-column:2/3;
            background-color: #F7F7B0;
        } 
        .mm_pretzel_img{
            grid-column: 1/2;
            grid-row: 1;
            
        }
        .apple-pie {
            grid-column:2/3;
            background-color: #F7F7B0;

        } 
        .apple-pie_img {
            grid-column: 1/2;
            grid-row: 2;
            
        } 
        .cheesecake{
            grid-column:2/3;
            background-color: #F7F7B0;

        } 
        .cheesecake_img{
            grid-column: 1/2;
            grid-row: 3;

        } 
          
         #cheese_ingredients, #sushi_ingredients, #b_ingredients, #cheesecake_ingredients,
         #spinach_ingredients, #friedrice_ingredients, #crab-rangoons, #penne_ingredients, #apple-pie_ingredients,
         #wings_ingredients, #panang_ingredients, #bow-tie_ingredients, #mm_ingredients{
            grid-column: 3/4;
            background-color: #F7F7B0;
            height: fit-content;
            margin-right: 4%;
        }
        
        .collage {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap: 3.75em;
            grid-column-gap: 5em;
            padding-left: 1em;
            margin: 10% 4% 10% 4%;
            /* grid-column-gap: 1rem; */
            /* align-items: baseline; */
        }
        .collage img {
            width: 100%;
        }
        
    }
    @keyframes slideMe{
        from {
            transform: translateY(-200em);
            opacity: 0;
        }
        to {
            transform: skew(0deg);
            opacity: 1;
        }
    
    }
@media screen and (min-width: 1300px) {
    /* want to get header left-aligned and nav links evenly spaced between */
     /*START header and nav large-screen*/
     header {
        display: flex;
        flex-direction: row;
        margin:5% 2% 2% 2%;
    }
    #header {
    margin-right: auto;  
    }
    
    .nav_links{
        justify-content: space-between;
    }
/*END header and nav large-screen*/ 
    .recipes {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 4%;
        width: 100%;
        margin: auto;
        background-image: url("../imgs/bgbody.jpeg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        /*first item*/
        .wings, .panang-curry, .bow-tie_text,
        .mm-pretzel-bites{
            grid-column: 2;
            background-color: #F7F7B0;
            margin-top: 4%;
            margin-right: 2%;
        } 
        .wings_img, .panang_img, .bow-tie_img, .mm_pretzel_img {
            grid-column: 1;
            grid-row: 1/3;
        } 
        #wings_ingredients, #panang_ingredients, #bow-tie_ingredients, #mm_ingredients{
            grid-column: 2;
            grid-row: 2;
            height: fit-content;
            margin-left: .5%;
            margin-right: 2%;
        }
        /*second item*/
        .spinach, .friedrice, .penne-vodka_text, .apple-pie {
            grid-column: 2;
            grid-row: 3;
            background-color: #F7F7B0;
            margin-top: 4%;
            margin-right: 2%;
        }
        .spinach_img, .fried-rice_img, .penne-vodka_img, .apple-pie_img{
            grid-column: 1;
            grid-row: 3/5;
        } 
        #spinach_ingredients, #friedrice_ingredients, #penne_ingredients, #apple-pie_ingredients{
            grid-column: 2;
            grid-row: 4;
            margin-left: .5%;
            margin-right: 2%;
        }
        /*third item*/
        .cheese, .sushi, .b_text, .cheesecake{
            grid-column: 2;
            grid-row: 5;
            background-color: #F7F7B0;
            margin-top: 4%;
            margin-right: 2%;
        }
        .cheese_img, .sushi_img, .b_img, .cheesecake_img{
            grid-column: 1;
            grid-row: 5/7;
        }  
        #cheese_ingredients, #sushi_ingredients, #b_ingredients, #cheesecake_ingredients{
            grid-column: 2;
            grid-row: 6;
            margin-left: .5%;
            margin-right: 2%;
        }
        /*ok changing grid ends!*/
        
    .collage {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 5em;
        grid-column-gap: 6.5em;
        margin: 10% 4% 10% 4%;
    }
    
    .home p {
        margin-top: 20em;
    }

}

@media screen and (prefers-reduced-motion: reduce) {
    h1 {
        animation: none; 
    }
    .recipes {
        background-attachment: scroll;
    }
    .flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner
     {
        transform: none;
        transition: none;
        /* transition: none;
        -webkit-transition: 0; */
        /*transform*/
    }
    .collage img:hover{
        transform: none; 
        transition: none;
        border: chocolate 10px solid;
    }
    
}
  